#wrapper {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;

	width: 480px;
	height: 720px;

	border: 20px solid;
	border-bottom: 100px solid;
	border-radius: 25px;
}

#title {
	text-align:center;
}

#content {
	text-align:justify;
	text-justify:inter-word;
}

#mynav {
	width: 480px;
	position:absolute;
	bottom: -15px;

	text-align: center;
}

#headline .thumbnail {
	float: right;
	max-width: 150px;
	max-height: 150px;
	margin-left: 10px;
}

#content #headline {

}

#content #category {
	background-color: #F4F4F4;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 5px;
	border-radius: 5px;

}

#category td {
	width: 33.3%;
}

#category .btn {
	width: 80%;
}


#news .paragraphs {
	overflow: auto;
	height: 380px;
	border: 1px solid;
	border-radius: 5px;
	padding: 10px;
}
