#wrapper {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	
	width: 480px;;
	height: 720px;
	
	border:1px solid;
	border-radius: 5px;
}

#title {
	text-align:center;
}

#mynav {
	width: 480px;
	position:absolute;
	bottom: -15px;

	text-align: center;
}
